* {
    margin: 0;
    padding: 0;
}

/* BOX PRESUPUESTO */
#boxPresupuesto {
 background-color: #EBFEEB;
 border: 1px solid green;
 border-radius: 10px;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 -ms-border-radius: 10px;
 -o-border-radius: 10px;
}

/* BOX GASTOS */
#boxGastos {
 background-color: #FFD6D6;
 border: 1px solid red;
 border-radius: 10px;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 -ms-border-radius: 10px;
 -o-border-radius: 10px;
 max-height: 180px;
}